In [2]:
import pandas as pd

In [3]:
with open("data.txt") as f:
     lines = [line.rstrip(',\n') for line in f]

In [6]:
split_lines = [val.split('-') for val in lines]

In [19]:
paths = pd.DataFrame(split_lines,columns=['start','end'])

In [21]:
paths.iloc[0,1]

'A'

In [25]:
paths[paths.iloc[:,0].str.contains('A')]

  start  end
2     A    c
3     A    b
5     A  end

In [ ]:
paths[paths.iloc[:,0].str.contains('A')]

In [40]:
paths_cnt = 1
stage = ''

for index in range(1):
    step1 = split_lines[index][0]
    step2 = split_lines[index][1]

    print(f'Path: {step1} ==> {step2}')

    paths_cnt = paths_cnt + 1

    while stage != 'end':
        step3 = paths[paths.iloc[:,0].str.contains(step2)].values.tolist()
        print(f'Possible new starts for path {step2}: {step3}')

        for steps in step3:
            step4 = steps[1]
            step5 = steps
            # new_connection = new_beginnings.iloc[:,1].values.tolist()
            # print(f'Path: {connector} ==> {new_connection}')

        stage = 'end'

Path: start ==> A
Possible new starts for path A: [['A', 'c'], ['A', 'b'], ['A', 'end']]
c
b
end

In [34]:
paths

   start  end
0  start    A
1  start    b
2      A    c
3      A    b
4      b    d
5      A  end
6      b  end